root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
ktlint_code_style = android_studio
max_line_length = 120
indent_size = 4
ij_kotlin_allow_trailing_comma_on_call_site = true
ij_kotlin_allow_trailing_comma = true
ij_kotlin_packages_to_use_import_on_demand = unset
ij_kotlin_name_count_to_use_star_import = 999
ij_kotlin_name_count_to_use_star_import_for_members = 999
ktlint_standard_import-ordering = disabled

# Compose
ktlint_function_naming_ignore_when_annotated_with=Composable
ktlint_compose_modifier-missing-check = disabled
ktlint_compose_unstable-collections = disabled
ktlint_compose_vm-forwarding-check = disabled  # TODO: Review this one, it should be enabled
ktlint_compose_multiple-emitters-check = disabled

[*.{yml,yaml}]
indent_size = 2


# An individual rule can be enabled or disabled with a rule property.
# The name of the rule property consists of the ktlint_ prefix followed by the rule set id followed by a _ and the rule id.
# Examples:
# ktlint_standard_final-newline = disabled # Disables the `final-newline` rule provided by KtLint
# ktlint_standard_some-experimental-rule = enabled # Enables the (experimental) `some-experimental-rule` in the `standard` rule set provided by KtLint
# ktlint_custom-rule-set_custom-rule = disabled # Disables the `custom-rule` rule in the `custom-rule-set` rule set (not provided by KtLint)







# ij_kotlin_packages_to_use_import_on_demand = unset
#
# ktlint_chain_method_rule_force_multiline_when_chain_operator_count_greater_or_equal_than = unset
# ktlint_class_signature_rule_force_multiline_when_parameter_count_greater_or_equal_than = 1
# ktlint_function_naming_ignore_when_annotated_with = unset
#
# [unset]
# ktlint_function_signature_body_expression_wrapping = multiline
# ktlint_function_signature_rule_force_multiline_when_parameter_count_greater_or_equal_than = 2
# ktlint_ignore_back_ticked_identifier = false
#
